@import "tailwindcss";

@theme {
  --color-charcoal-black: #0f0f0f;
  --color-warm-ivory: #faf9f6;
  --color-gold-accent: #c9a24d;
  --color-soft-rose: #f4dada;
  --color-slate-gray: #2b2b2b;
  --color-muted-beige: #ede6db;
  --color-success-green: #2ecc71;
  --color-error-red: #e74c3c;

  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-warm-ivory text-charcoal-black font-inter;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
