@import "tailwindcss";

@theme {
  --color-charcoal-black: #0F0F0F;
  --color-warm-ivory: #FAF9F6;
  --color-gold-accent: #ceac52;
  --color-soft-rose: #F4DADA;
  --color-slate-gray: #2B2B2B;
  --color-muted-beige: #EDE6DB;
  --color-success-green: #2ECC71;
  --color-error-red: #E74C3C;

  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-warm-ivory text-charcoal-black font-inter;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
